.circle{
 border-radius: 50%;
display: inline-block;
}
.c1{
    width: 60px;
    height: 60px;
    background: blue;
}
.c2{
    width: 60px;
    height: 60px;
    background:red ;
}
.c3{
    width: 60px;
    height: 60px;
    background: yellow;
}